<!DOCTYPE html>
<html>
<head>
    <title>Gavel-News</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<!-- Contaainer for demo purpose -->
<div class="p-10">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center">
      <h2 class="mb-12 text-center text-3xl font-bold">Gavel News</h2>
  
      <div class="grid gap-6 lg:grid-cols-6 xl:gap-x-12" id="news">
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->

  <script src="./src/js/index.js"></script>
</body> 
</html>