<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gavel-News | Admin</title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/svg"
      sizes="16x16"
      href="../assets/images/icon.svg"
    />
    <!-- Custom CSS -->
    <link href="../dist/css/style.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin5"
      data-sidebartype="full"
      data-sidebar-position="absolute"
      data-header-position="absolute"
      data-boxed-layout="full"
    >
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
          <div class="navbar-header" data-logobg="skin5">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <a class="navbar-brand" href="index.html">
              <!-- Logo icon -->
              <b class="logo-icon ps-2">
                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                <!-- Dark Logo icon -->
                <svg class="h-8 w-8 mr-1" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"
                      fill="#000000">
                      <svg class="h-10 w-10" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"
                          fill="#000000">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                              <path style="fill:#B9785F;"
                                  d="M8.2,404.808c-4.917,4.917-8.003,11.476-8.191,18.428c-0.241,8.987,3.959,17.364,11.569,22.64 c3.005,2.083,6.449,3.499,10.051,4.134c8.819,1.554,17.421-1.199,23.544-7.327l214.922-214.918l-37.425-37.425L8.2,404.808z">
                              </path>
                              <path style="fill:#AA6955;"
                                  d="M253.859,234l-37.425-37.425c-3.445-3.445-3.445-9.031,0-12.475l24.95-24.95l49.901,49.901 L266.335,234C262.89,237.444,257.305,237.444,253.859,234z">
                              </path>
                              <g>
                                  <path style="fill:#B9785F;"
                                      d="M222.672,165.387L222.672,165.387c-3.445-3.445-3.445-9.031,0-12.475l49.901-49.901 c3.445-3.445,9.03-3.445,12.475,0l0,0c3.445,3.445,3.445,9.031,0,12.475l-49.901,49.901 C231.702,168.832,226.116,168.832,222.672,165.387z">
                                  </path>
                                  <path style="fill:#B9785F;"
                                      d="M285.048,227.762L285.048,227.762c-3.445-3.445-3.445-9.031,0-12.475l49.901-49.901 c3.445-3.445,9.031-3.445,12.475,0l0,0c3.445,3.445,3.445,9.03,0,12.475l-49.901,49.901 C294.077,231.208,288.492,231.208,285.048,227.762z">
                                  </path>
                              </g>
                              <rect x="249.757" y="130.103"
                                  transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 369.6502 483.8887)"
                                  style="fill:#FFD782;" width="70.569" height="70.569"></rect>
                              <rect x="231.046" y="175.278"
                                  transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 324.4771 502.6016)"
                                  style="fill:#FFC36E;" width="70.569" height="17.642"></rect>
                              <g>
                                  <path style="fill:#B9785F;"
                                      d="M160.296,127.962L160.296,127.962c-6.889-6.889-6.889-18.06,0-24.95l62.376-62.376 c6.889-6.889,18.06-6.889,24.95,0l0,0c6.889,6.889,6.889,18.06,0,24.95l-62.376,62.376 C178.357,134.851,167.186,134.851,160.296,127.962z">
                                  </path>
                                  <path style="fill:#B9785F;"
                                      d="M322.473,290.138L322.473,290.138c-6.889-6.889-6.889-18.06,0-24.95l62.376-62.376 c6.889-6.889,18.06-6.889,24.95,0l0,0c6.889,6.889,6.889,18.06,0,24.95l-62.376,62.376 C340.533,297.028,329.362,297.028,322.473,290.138z">
                                  </path>
                              </g>
                              <g>
                                  <rect x="209.972" y="77.083"
                                      transform="matrix(0.7071 0.7071 -0.7071 0.7071 147.4142 -131.1546)"
                                      style="fill:#AA6955;" width="44.106" height="70.569"></rect>
                                  <rect x="316.017" y="183.134"
                                      transform="matrix(0.7071 0.7071 -0.7071 0.7071 253.464 -175.0778)"
                                      style="fill:#AA6955;" width="44.106" height="70.569"></rect>
                              </g>
                              <g>
                                  <path style="fill:#FFC36E;"
                                      d="M191.484,134.199L191.484,134.199c-3.445-3.445-3.445-9.031,0-12.475l49.901-49.901 c3.445-3.445,9.03-3.445,12.475,0l0,0c3.445,3.445,3.445,9.031,0,12.475l-49.901,49.901 C200.514,137.644,194.929,137.644,191.484,134.199z">
                                  </path>
                                  <path style="fill:#FFC36E;"
                                      d="M316.235,258.951L316.235,258.951c-3.445-3.445-3.445-9.031,0-12.475l49.901-49.901 c3.445-3.445,9.031-3.445,12.475,0l0,0c3.445,3.445,3.445,9.03,0,12.475l-49.901,49.901 C325.265,262.395,319.68,262.395,316.235,258.951z">
                                  </path>
                              </g>
                              <path style="fill:#B9785F;"
                                  d="M485.536,441.246H291.469v-26.464c0-4.872,3.95-8.821,8.821-8.821h176.425 c4.872,0,8.821,3.95,8.821,8.821V441.246z">
                              </path>
                              <path style="fill:#AA6955;"
                                  d="M503.179,467.71H273.826v-17.643c0-9.744,7.898-17.643,17.643-17.643h194.068 c9.744,0,17.643,7.898,17.643,17.643V467.71z">
                              </path>
                              <path style="fill:#FFC36E;"
                                  d="M503.179,476.531H273.826c-4.872,0-8.821-3.95-8.821-8.821l0,0c0-4.872,3.95-8.821,8.821-8.821 h229.353c4.872,0,8.821,3.95,8.821,8.821l0,0C512,472.582,508.05,476.531,503.179,476.531z">
                              </path>
                          </g>
                      </svg>
                  </svg>
              </b>
              <!--End Logo icon -->
              <!-- Logo text -->
              <span class="logo-text">
                <!-- dark Logo text -->
                <h2 class="text-xl font-bold">Gavel News</h2>
              </span>
              <!-- Logo icon -->
              <!-- <b class="logo-icon"> -->
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <!-- <img src="../assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->
  
              <!-- </b> -->
              <!--End Logo icon -->
            </a>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Toggle which is visible on mobile only -->
            <!-- ============================================================== -->
            <a
              class="nav-toggler waves-effect waves-light d-block d-md-none"
              href="javascript:void(0)"
              ><i class="ti-menu ti-close"></i
            ></a>
          </div>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <div
            class="navbar-collapse collapse"
            id="navbarSupportedContent"
            data-navbarbg="skin5"
          >
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-start me-auto">
              <li class="nav-item d-none d-lg-block">
                <a
                  class="nav-link sidebartoggler waves-effect waves-light"
                  href="javascript:void(0)"
                  data-sidebartype="mini-sidebar"
                  ><i class="mdi mdi-menu font-24"></i
                ></a>
              </li>
            </ul> 
          </div>
        </nav>
      </header>
      <!-- ============================================================== -->
      <!-- End Topbar header -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="index.html"
                  aria-expanded="false"
                  ><i class="mdi mdi-view-dashboard"></i
                  ><span class="hide-menu">Dashboard</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="users.html"
                  aria-expanded="false"
                  ><i class="mdi mdi-account"></i
                  ><span class="hide-menu">Users</span></a
                >
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Dashboard</h4>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="d-md-flex align-items-center">
                    <div>
                      <h4 class="card-title">Users p/Day</h4>
                      <h5 class="card-subtitle">Overview of Latest Month</h5>
                    </div>
                  </div>
                  <div class="row">
                    <!-- column -->
                    <div class="col-lg-9">
                      <canvas id="newUsersChart" width="400" height="200"></canvas>
                    </div>
                    <div class="col-lg-3">
                      <div class="row">
                        <div class="col-12">
                          <div class="bg-dark p-10 text-white text-center">
                            <i class="mdi mdi-account fs-3 mb-1 font-16"></i>
                            <h5 class="mb-0 mt-1">2540</h5>
                            <small class="font-light">Total Users</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- column -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- Sales chart -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
          All Rights Reserved by Matrix-admin. Designed and Developed by
          <a href="https://www.wrappixel.com">WrapPixel</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../dist/js/custom.min.js"></script>

    <script>
      // Data for the chart
      const data = {
          labels: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6', 'Day 7', 'Day 8', 'Day 9', 'Day 10', 'Day 11', 'Day 12', 'Day 13', 'Day 14', 'Day 15', 'Day 16', 'Day 17', 'Day 18', 'Day 19', 'Day 20', 'Day 21', 'Day 22', 'Day 23', 'Day 24', 'Day 25', 'Day 26', 'Day 27', 'Day 28', 'Day 29', 'Day 30', 'Day 31'],
          datasets: [{
              label: 'New Users',
              data: [10, 20, 15, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 320, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160],
              backgroundColor: 'green',
              borderColor: 'green',
              borderWidth: 1
          }]
      };

      // Chart configuration
      const config = {
          type: 'line',
          data: data,
          options: {
              scales: {
                  y: {
                      beginAtZero: true,
                      title: {
                          display: true,
                          text: 'Number of Users'
                      }
                  },
                  x: {
                      title: {
                          display: true,
                          text: 'Day of Month'
                      }
                  }
              }
          }
      };

      // Render the chart
      const newUsersChart = new Chart(
          document.getElementById('newUsersChart'),
          config
      );
  </script>
  </body>
</html>
